---
export interface Props {
    title: string;
}

const {title} = Astro.props
---

<section class="hero container-fluid bg-ncafa pb-2 mt-4 mb-4 pt-4 pb-4">
    <div class="d-flex flex-column text-center">
        <h1 class="text-center fs-4 fw-bold text-white text-uppercase">{title}</h1>
        <div class="container-md d-flex flex-row flex-wrap justify-content-center gap-2">
            <slot />
        </div>
    </div>
</section>