---
export interface props {
    subtitle: string;
    date: string;
    hour: string;
}

const {subtitle, date, hour} = Astro.props
---
<div>
  <p class="fs-6 m-0 mb-1 fw-bold fst-italic lh-sm">{subtitle}</p>
  <p class="fs-6 m-0 lh-sm">{date}</p>
  <p class="fs-6 m-0 lh-sm">{hour}</p>
</div>
