---
export interface props {
    subtitle: string;
    date: string;
    hour: string;
}

const {subtitle, date, hour} = Astro.props
---
<div>
  <p class="fs-6 m-0 fw-bold lh-sm">{subtitle}</p>
  <p class="fs-6 m-0">{date}</p>
  <p class="fs-6 m-0">{hour}</p>
</div>
