<section>
  <h2 class="page__title"><i>Call for Paper</i> dan Seminar (16 SKP)</h2>
  <div class="callpaper">
    <div class="cfp 1">
      <h3 class="page__subtitle">Bidang Kajian</h3>
      <div class="cfp bidangkajian">
        <p class="page__text">Akuntansi Keuangan dan Pasar Modal (AKPM)</p>
        <p class="page__text">Akuntansi Manajemen dan Keperilakuan (AKMK)</p>
        <p class="page__text">Akuntansi Sektor Publik (ASP)</p>
        <p class="page__text">Akuntansi Syariah (AKSR)</p>
        <p class="page__text"><i>Fraud and Forensic Accounting</i> (FFA)</p>
        <p class="page__text">Pendidikan Akuntansi (PAk)</p>
        <p class="page__text">Perpajakan (PPJK)</p>
        <p class="page__text">
          Sistem Informasi, Pengauditan, dan Etika Profesi (SIAEP)
        </p>
        <p class="page__text">
          Tata Kelola & <i>Sustainability Accounting</i> (TKSA)
        </p>
      </div>
    </div>
    <div class="cfp 1">
      <h3 class="page__subtitle">Benefit</h3>
      <div class="cfp benefit">
        <p class="page__text">
          Seluruh Paper yang diterima dan dipresentasikan memperoleh kesempatan <b
            >publikasi pada Jurnal terakreditasi SINTA / Prosiding ber-ISSN</b>
        </p>
        <p class="page__text">
          Sertifikat dengan <b>Satuan Kredit Poin (SKP)</b>
        </p>
        <p class="page__text">
          Berkesempatan meraih <b>predikat best paper dan hadiah uang tunai</b>
        </p>
      </div>
    </div>
  </div>
  <section>
    <div class="date">
      <h2 class="page__title">Tanggal Penting</h2>
      <div class="event__date">
        <div class="day">
          <p class="page__text"><b>Batas Pengiriman</b></p>
          <p class="page__text">Kamis, 22 Desember 2022</p>
        </div>
        <div class="day">
          <p class="page__text"><b>Pengumuman Diterima</b></p>
          <p class="page__text">Sabtu, 22 Januari 2023</p>
        </div>
        <div class="day">
          <p class="page__text"><b>Batas Registrasi & Pembayaran</b></p>
          <p class="page__text">Sabtu, 28 Januari 2023</p>
        </div>
        <div class="day">
          <p class="page__text"><b><i>Parallel Session 1</i></b></p>
          <p class="page__text">Rabu, 01 Februari 2023</p>
          <p class="page__text">13.00 - 17.00 WIB</p>
        </div>
        <div class="day">
          <p class="page__text"><b><i>Parallel Session 2</i></b></p>
          <p class="page__text">Kamis, 02 Februari 2023</p>
          <p class="page__text">09.00 - 12.00 WIB</p>
        </div>
      </div>
    </div>
    <section>
      <div class="price">
        <h2 class="page__title">Biaya Investasi</h2>
        <div class="event__price">
          <div class="day">
            <p class="page__text"><b>Seminar dan <i>Call for Paper*</i></b></p>
            <p class="page__text">Rp400,000</p>
          </div>
          <div class="day">
            <p class="page__text"><b>Tambahan paper*</b></p>
            <p class="page__text">Rp250,000</p>
          </div>
          <div class="day">
            <p class="page__text">*) per penulis</p>
          </div>
        </div>
      </div>

      <section>
        <div class="paper__links">
          <h2 class="page__title"><i>Template Paper</i></h2>
          <div class="paper__links__container">
            <a
              class="links"
              href="https://drive.google.com/uc?export=download&id=1K46fyvhRiPo2j4D_qfO_5ennl_UyRP4V"
              target="_blank"
              rel="noopener"
            >
              <p class="page__text">Unduh Template Abstrak</p>
            </a>
            <a
              class="links"
              href="https://drive.google.com/uc?export=download&id=190w8fb95Z2Gah0Umrzb4skBW3VPlkwtz"
            >
              <p class="page__text">Unduh Template <i>Full Paper</i></p>
            </a>
          </div>
        </div>
      </section>

      <section>
        <div class="paper__links">
          <h2 class="page__title"><i>Registrasi</i></h2>
          <div class="paper__links__container">
            <a
              class="links"
              href="https://bit.ly/4thNCAFA_Registration"
              target="_blank"
              rel="noopener"
            >
              <p class="page__text">Klik di sini</p>
            </a>
          </div>
        </div>
      </section>

      <section>
        <div class="paper__links">
          <h2 class="page__title"><i>Paper Submission</i></h2>
          <div class="paper__links__container">
            <a
              class="links"
              href="https://bit.ly/4thNCAFA_SubmitPaper"
              target="_blank"
              rel="noopener"
            >
              <p class="page__text">Klik di sini</p>
            </a>
          </div>
        </div>
      </section>

      <section>
        <h2 class="page__title">Hubungi Kami</h2>
        <div class="contactperson">
          <div class="cp 1">
            <h3 class="page__subtitle-cp">WhatsApp</h3>
            <p class="page__text">
              <a href="https://wa.me/6281770002243" target="_blank"
                >0817 7000 2243</a
              > (Alda)
            </p>
          </div>
          <div class="cp 1">
            <h3 class="page__subtitle-cp">Email</h3>
            <p class="page__text">
              <a href="https://wa.me/6281770002243" target="_blank"
                >fourthncafa.paper@gmail.com</a
              >
            </p>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>
