@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&family=Montserrat:wght@300;400;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

/* main {
    min-height: 70vh;
} */

.text-justify {
    text-align: justify;
}

.bg-ncafa,
.btn-ncafa {
    background-image: linear-gradient(to right, #078193 20%, #2E4696 90%);
}

.min-height {
    min-height: 80vh;
}
.top-gradient {
    background: linear-gradient(180deg, #ffffff, #2e46963e, rgba(255, 255, 255, 1));
    margin: 0;
}

.bottom-gradient {
    background: linear-gradient(90deg, #ffffff, #fdecd3, #fbd9a7)
}

.active-ncafa {
    border: none;
    outline: none;
    padding: 8px 12px !important;
    background-color: #f7a224 !important;
    cursor: pointer;
    border-radius: 25px;
}

.nav-item {
    padding: 5px 10px !important;
}

.bg-image-ncafa {
    background: url('../jumbotron/Background-05-01.png') no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70%;
}

.borderless {
    border-top: hidden!important;
    border-bottom: hidden!important;
    border-right: hidden!important;
    border-left: hidden!important;
}