---
import LayoutEn from "../../layout/LayoutEn.astro";
---

<LayoutEn title="Paper">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4 pb-2">
      Call for Paper and Seminar (16 SKP)
    </h1>
    <p class="container m-auto text-center">Only available in Indonesia.</p>
    </section> 
</LayoutEn>
