---
import Layout from "../../layout/Layout.astro";
import CoHostContainer from "../../components/Image/CoHostContainer.astro";
import CoHost from "../../components/CoHost/CoHost.astro";
---

<Layout title="Co-Host">
  <section class="top-gradient min-height">
    <h1 class="text-center fw-bold text-black pt-4">Co-Host</h1>
    <CoHostContainer>
      <CoHost />
      </CoHostContainer>

  </section>
</Layout>
