---
import Layout from "../../layout/Layout.astro";
import JournalPartners from "../../components/JournalPartners/JournalPartners.astro";
---

<Layout title="Mitra Jurnal">
  <h1 class="text-center fw-bold text-black pt-4">Mitra Jurnal</h1>
  <JournalPartners />
</Layout>
