---
import Layout from "../../layout/Layout.astro";
import Jumbotron from "../../components/Jumbotron.astro";
import DateContainer from "../../components/Date/DateContainer.astro";
import Date from "../../components/Date/Date.astro";
import Date2 from "../../components/Date/Date2.astro";
import DateCardContainer from "../../components/Date/DateCardContainer.astro";
import DateCard from "../../components/Date/DateCard.astro";
import ButtonContainer from "../../components/Button/ButtonContainer.astro";
import Button from "../../components/Button/Button.astro";
import ContactContainer from "../../components/ContactOne/ContactContainer.astro";
import Contact from "../../components/ContactOne/Contact.astro";
import Benefit from "../../components/Benefit.astro";
import Container from "../../components/Container.astro";
import Table from "../../components/Table.astro";
---

<Layout title="Paper">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4 pb-2">
      Call for Paper dan Seminar (16 SKP)
    </h1>
    <Benefit />
  </section>
  <DateCardContainer title="Tanggal Penting">
    <DateCard>
      <div>
        <p class="fs-6 m-0 fw-bold lh-sm text-danger">DIPERPANJANG!</p>
        <p class="fs-6 m-0 mb-1 fw-bold lh-sm">Batas Pengiriman</p>
        <p class="fs-6 m-0 lh-sm">Jum'at, 20 Januari 2023</p>
        <p class="fs-6 m-0 lh-sm">23:59 WIB (UTC+7)</p>
      </div>
    </DateCard>
    <DateCard>
      <Date2 subtitle="Pengumuman Diterima" date="Senin, 24 Januari 2023" />
    </DateCard>
    <DateCard>
      <Date2
        subtitle="Batas Registrasi & Pembayaran"
        date="Minggu, 29 Januari 2023"
      />
    </DateCard>
    <DateCard>
      <Date
        subtitle="Parallel Session 1"
        date="Rabu, 01 Februari 2023"
        hour="08:00 - 12:00 WIB (UTC+7)"
      />
    </DateCard>
    <DateCard>
      <Date
        subtitle="Parallel Session 2"
        date="Kamis, 02 Februari 2023"
        hour="13:00 - 17:00 WIB (UTC+7)"
      />
    </DateCard>
  </DateCardContainer>
  <aside class="bg-image-ncafa">
    <ButtonContainer title="Template" text="">
      <Button
        text="Unduh Template Abstrak"
        href="https://drive.google.com/uc?export=download&id=1zyFj2uHUzykWw_QIfSqejXENNNkJ_Mt0"
      />
      <Button
        text="Unduh Template Full Paper"
        href="https://drive.google.com/uc?export=download&id=1qxMLBSddEV-yHhbruFKv3zDBVKwSMz0Q"
      />
    </ButtonContainer>
    <ButtonContainer title="Paper Submission" text="">
      <Button text="Klik di sini" href="https://bit.ly/4thNCAFA_SubmitPaper" />
    </ButtonContainer>
    <Container title="Biaya Investasi">
      <Table />
    </Container>
    <ButtonContainer
      title="Registrasi*"
      text="*) dilakukan setelah pengumuman Paper diterima"
    >
      <Button text="Klik di sini" href="https://bit.ly/4thNCAFA_Registration" />
    </ButtonContainer>
    <ContactContainer title="Hubungi Kami">
      <Contact
        subtitle="WhatsApp"
        href="https://wa.me/6281770002243"
        contact="0817 7000 2243 "
        name="(Alda)"
      />
      <Contact
        subtitle="Email"
        href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa.paper@gmail.com"
        contact="fourthncafa.paper@gmail.com "
        name=""
      />
    </ContactContainer>
  </aside>
</Layout>
