---
import Layout from "../../layout/Layout.astro";
import DateContainer from "../../components/Date/DateContainer.astro";
import Date from "../../components/Date/Date.astro";
import ButtonContainer from "../../components/Button/ButtonContainer.astro";
import Button from "../../components/Button/Button.astro";
import ContactContainer from "../../components/ContactOne/ContactContainer.astro";
import Contact from "../../components/ContactOne/Contact.astro";
import NarasumberContainer from "../../components/Image/NarasumberContainer.astro";
import NarasumberImage from "../../components/Image/NarasumberImage.astro";
import DateCardContainer from "../../components/Date/DateCardContainer.astro";
import DateCard from "../../components/Date/DateCard.astro";
import Container from "../../components/Container.astro";
import Table from "../../components/Table.astro";
---

<Layout title="Seminar">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4">Seminar (8 SKP)</h1>
    <NarasumberContainer title="Opening Speech">
        <NarasumberImage
        name="Prof. Dr. Ir. Arissetyanto Nugroho, M.M., IPU., CMA., MSS."
        firstlineposition="Chairman of Jakarta Indonesia Education Development Foundation"
        secondlineposition="(Yayasan Pengembangan Pendidikan Indonesia Jakarta)"
        src="../narasumber/Prof.Aris.png"
        href=""
      />
      <NarasumberImage
        name="Prof. Dr. Pramono Hari Adi, M.S."
        firstlineposition="Rector of Trilogi University"
        secondlineposition=""
        src="../narasumber/Prof.Pramono.png"
        href="https://scholar.google.co.id/citations?user=6Z-fUdwAAAAJ&hl=en"
      />
    </NarasumberContainer>
    <NarasumberContainer title="Keynote Speech">
      <NarasumberImage
        name="Dr. Hery Subowo S.E., MPM., Ak., CA, CPA, CSFA., CIA., Ak., CFrA., CFE."
        firstlineposition="President ACFE Indonesia Chapter 2022-2024"
        secondlineposition=""
        src="../../narasumber/Dr.Hery.png"
        href="https://jateng.bpk.go.id/pimpinan-perwakilan/"
      />
    </NarasumberContainer>
    <NarasumberContainer title="Narasumber">
      <NarasumberImage
        name="Prof. Dr. Sylvia Veronica Siregar, S.E., Ak., CA., CSRS., CSRA."
        firstlineposition="Professor of the Department of Accounting"
        secondlineposition="Faculty of Economics and Business, University of Indonesia"
        href="https://www.linkedin.com/in/sylvia-veronica-siregar-3598948a/"
        src="../../narasumber/Prof.Dr.Sylvia.png"
      />
      <NarasumberImage
        name="Prof. Dr. rer. pol. Hamzah Ritchi, CA."
        firstlineposition="Profesor in AIS and Digital Innovation"
        secondlineposition="Faculty of Economics and Business, Padjadjaran University"
        href="https://id.linkedin.com/in/hamzahritchi"
        src="../../narasumber/Prof.Ritchi.png"
      />
      <NarasumberImage
        name="B. Bawono Kristiaji, S.E., M.S.E., M.Sc., IBT., ADIT."
        firstlineposition="Partner of Fiscal Research & Advisory at DDTC"
        secondlineposition=""
        href="https://www.linkedin.com/in/b-bawono-kristiaji-b08797112/"
        src="../../narasumber/B.Bawono.png"
      />
      <NarasumberImage
        name="Oluwatoyin Muse Johnson Popoola, JP, Ph.D., MBA., PGDAF., HDipl., RPA., Member INSOL International., AM(M)., CFA., FCTI., FCA."
        firstlineposition="Institute of Chartered Accountants of Nigeria (ICAN),"
        secondlineposition="International Lecturer (Senior) Tunku Puteri Intan Safinaz School of Accountancy (TISSA-UUM) College of Business, Universiti Utara Malaysia"
        href="http://repo.uum.edu.my/profile/popoola"
        src="../../narasumber/Oluwatoyin.png"
      />
      <NarasumberImage
        name="Dr. Jamaludin Iskak, M.Si., Ak., CA., CPA., CPI., ASEAN, CPA."
        firstlineposition="Managing Partner Jamaludin, Ardi, Sukimto & Partners (JAS) Public Accountant Firm - Member of Auditrust International"
        secondlineposition=""
        href="https://id.linkedin.com/in/dr-jamaludin-iskak-cpi-ca-cpa-asean-cpa-877060116"
        src="../../narasumber/Dr.Jamaludin.png"
      />
      <NarasumberImage
        name="Zubir Azhar, Ph.D., FCPA., CA., ACPA."
        firstlineposition="Chairperson (Accounting) - Senior Lecturer"
        secondlineposition="School of Management, Universiti Sains Malaysia"
        href="https://mia.org.my/governance/about-the-council/dr-zubir-azhar/"
        src="../../narasumber/ZubirAzhar.png"
      />
      <NarasumberImage
        name="Dr. Sigid Eko Pramono, S.E.Ak., MIBA., CA."
        firstlineposition="Initiator of Islamic Boarding School Accounting Guidelines,"
        secondlineposition="Senior Economist Bank of Indonesia 2016-2021"
        href="https://id.linkedin.com/in/sigid-eko-pramono-a749a262"
        src="../../narasumber/Dr.Sigid.png"
      />
      <NarasumberImage
        name="Donny Hamdani, S.E., Ak."
        firstlineposition="Director of Finance "
        secondlineposition="PT Penjaminan Infrastruktur Indonesia (Persero)"
        href="https://id.linkedin.com/in/donny-hamdani-67ba7632"
        src="../../narasumber/Donny.png"
      />
      <NarasumberImage
        name="Prof. Masatsugu Nemoto"
        firstlineposition="Research Professor, International Development Institute (IDI)"
        secondlineposition="Chungbuk National University, South Korea"
        href="https://orcid.org/0000-0003-4967-2257"
        src="../../narasumber/Nemoto.png"
      />
      
    </NarasumberContainer>
    <NarasumberContainer title="Moderator">
      <NarasumberImage
        name="Dr. Nurul Aisyah Rachmawati, S.E., M.S.Ak."
        firstlineposition="Dosen Program Studi Akuntansi Universitas Trilogi"
        secondlineposition=""
        href="https://scholar.google.co.id/citations?user=b_MqeFQAAAAJ&hl=en"
        src="../../moderator/Dr.Nurul.png"
      />
      <NarasumberImage
        name="Dr. Anies Lastiati, S.E.Ak., MHRM., M.Ed.St., CA."
        firstlineposition="Wakil Rektor Bid. Pembelajaran dan Kemahasiswaan &"
        secondlineposition="Dosen Program Studi Akuntansi Universitas Trilogi"
        href="https://scholar.google.co.id/citations?user=31jdVAUAAAAJ&hl=en"
        src="../../moderator/Dr.Anies.png"
      />
    </NarasumberContainer>
  </section>
  <DateCardContainer title="Tanggal Penting">
    <DateCard>
      <Date
        subtitle="Panel Session 1"
        date="Rabu, 01 Februari 2023"
        hour="08:00 - 12:00 WIB (UTC+7)"
      />
    </DateCard>
    <DateCard>
      <Date
      subtitle="Panel Session 2"
      date="Kamis, 02 Februari 2023"
      hour="13:00 - 17:00 WIB (UTC+7)"
      />
    </DateCard>
  </DateCardContainer>
  <aside class="bg-image-ncafa">
    <Container title="Biaya Investasi">
      <Table />
    </Container>
    <ButtonContainer title="Pendaftaran" text="">
      <Button text="Klik di sini" href="https://bit.ly/4thNCAFA_Registration" />
    </ButtonContainer>

    <ContactContainer title="Hubungi Kami">
      <Contact
        subtitle="WhatsApp"
        href="https://wa.me/6281288425931"
        contact="0812 8842 5931 "
        name="(Zakiah)"
      />
      <Contact
        subtitle="Email"
        href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa@gmail.com"
        contact="fourthncafa@gmail.com "
        name=""
      />
    </ContactContainer>
  </aside>
</Layout>
