<section class="container-md pt-2 pb-2 mt-4 mb-4 bg-ncafa2 rounded-4">
  <div class="d-flex flex-column text-center">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      steering committee
    </h1>
    <p class="fs-6 mt-1">
      <b class="text-black">Malaysia</b>
      <br />Zubir Azhar, Ph.D., FCPA., CA., ACPA.
    </p>
    <p class="fs-6 mt-1">
      <b class="text-black">Nigeria</b>
      <br />Oluwatoyin Muse Johnson Popoola, JP, Ph.D., MBA., PGDAF., HDipl., 
      <br />RPA., Member INSOL International., AM(M)., CFA., FCTI., FCA.
    </p>
    <p class="fs-6 mt-1">
      <b class="text-black">South Korea</b>
      <br />Prof. Masatsugu Nemoto
    </p>
    <p class="fs-6 mt-1">
      <b class="text-black">Indonesia</b>
      <br />Prof. Dr. Ir. Arissetyanto Nugroho, M.M., IPU., CMA., MSS.
      <br />Prof. Dr. Pramono Hari Adi, M.S.
      <br />Sri Opti, S.E.Ak., M.M., CA., CertIPSAS.
    </p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      project officer
    </h1>
    <p class="fs-6 m-0">Rizka Ramayanti, S.E., M.Si.</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Vice Project Officer
    </h1>
    <p class="fs-6 m-0">Lely Dahlia, S.E.Ak., M.M., CertIPSAS.</p>
    <p class="fs-6 m-0">Andien Mirza Pratiwi</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Secretary
    </h1>

    <p class="fs-6 m-0">Niken Ayu Eka Kinanti</p>
    <p class="fs-6 m-0">Vinna Ayu Agustine</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Treasurer
    </h1>

    <p class="fs-6 m-0">Salsabila Almas</p>
    <p class="fs-6 m-0">Akmal Fikri Fadhiilah</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Event
    </h1>

    <p class="fs-6 m-0">Novita, S.E., Ak., M.Ak., CSRS., CertIPSAS., CA.*</p>
    <p class="fs-6 m-0">Maulidya Nabila</p>
    <p class="fs-6 m-0">Muhammad Akmal Fadillah</p>
    <p class="fs-6 m-0">Zakiah</p>
    <p class="fs-6 m-0">Galuh Muhammad Dhiya Ulhaq</p>
    <p class="fs-6 m-0">Dita Kusuma Wardani</p>
    <p class="fs-6 m-0">Setiawan Arya Putra</p>
    <p class="fs-6 m-0">Novia Ramadhania Hermawan</p>
    <p class="fs-6 m-0">Dea Fifiani Putri</p>
    <p class="fs-6 m-0">Ellena Arindya Ambar Kinasih</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Paper
    </h1>

    <p class="fs-6 m-0">Dr. Anies Lastiati, SE.Ak., MHRM., M.Ed.St., CA.*</p>
    <p class="fs-6 m-0">Alda Putri Safira</p>
    <p class="fs-6 m-0">Dinda Arviara Putri Wibowo</p>
    <p class="fs-6 m-0">Fara Fauziah</p>
    <p class="fs-6 m-0">Frida Salsabila</p>
    <p class="fs-6 m-0">Nurul Nazilah Khairiyah</p>
    <p class="fs-6 m-0">Selin Putri Cahyani</p>
    <p class="fs-6 m-0">Ismi Amalia</p>
    <p class="fs-6 m-0">Nurul Yuliana</p>
    <p class="fs-6 m-0">Anisa Zahra Sabila</p>
    <p class="fs-6 m-0">Zahara Syahfa Marliza</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Reviewer & Publication
    </h1>

    <p class="fs-6 m-0">Dr. Nurul Aisyah Rachmawati, S.E., M.S.Ak.*</p>
    <p class="fs-6 m-0">Nabiilah</p>
    <p class="fs-6 m-0">Azahra Nur Alifah</p>
    <p class="fs-6 m-0">Nilza Khayatinufus</p>
    <p class="fs-6 m-0">Amelia Rachmawati</p>
    <p class="fs-6 m-0">Yasmin Fitria</p>
    <p class="fs-6 m-0">Della Puspita</p>
    <p class="fs-6 m-0">Afifah Alwi Yusalia</p>
    <p class="fs-6 m-0">Indri Damayanti Ismi</p>
    <p class="fs-6 m-0">Puja Hairani Siregar</p>
    <p class="fs-6 m-0">Sulasmi</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Parallel Session
    </h1>

    <p class="fs-6 m-0">Sekar Natasya Prameswari*</p>
    <p class="fs-6 m-0">Salsabila Almas</p>
    <p class="fs-6 m-0">Indri Damayanti Ismi</p>
    <p class="fs-6 m-0">Irene Triwahyuni</p>
    <p class="fs-6 m-0">Zakiah</p>
    <p class="fs-6 m-0">Dita Kusuma Wardani</p>
    <p class="fs-6 m-0">Ria Syifa Febriyanti</p>
    <p class="fs-6 m-0">Della Puspita</p>
    <p class="fs-6 m-0">Afifah Alwi Yusalia</p>
    <p class="fs-6 m-0">Hani Nur Angraini</p>
    <p class="fs-6 m-0">Puja Hairani Siregar</p>
    <p class="fs-6 m-0">Annisa Nurul Jannah</p>
    <p class="fs-6 m-0">Indah Masitoh Riandy</p>
    <p class="fs-6 m-0">Ismi Amalia</p>
    <p class="fs-6 m-0">Nurul Yuliana</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Co-Host
    </h1>

    <p class="fs-6 m-0">Annisa Aisyah Rahayu*</p>
    <p class="fs-6 m-0">Indah Masitoh Riandy</p>
    <p class="fs-6 m-0">Ria Syifa Febriyanti</p>
    <p class="fs-6 m-0">Melati Indah Permatasari</p>
    <p class="fs-6 m-0">Irene Triwahyuni</p>
    <p class="fs-6 m-0">Fitri Hindarti</p>
    <p class="fs-6 m-0">Novie Ariyanti</p>
    <p class="fs-6 m-0">Annisa Nurul Jannah</p>
    <p class="fs-6 m-0">Novia Ramadhania Hermawan</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Design & Documentation
    </h1>

    <p class="fs-6 m-0">Ade Retno Maharani*</p>
    <p class="fs-6 m-0">Vinka Destya</p>
    <p class="fs-6 m-0">Jasmine Bestari Diningrum</p>
    <p class="fs-6 m-0">Hani Nur Angraini</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Technology Information & Social Media
    </h1>

    <p class="fs-6 m-0">Aditya Fadillah Azka*</p>
    <p class="fs-6 m-0">Diky Darmawan</p>
    <p class="fs-6 m-0">Adrian Maulana</p>
    <p class="fs-6 m-0">Akmal Fikri Fadhiilah</p>
    <p class="fs-6 m-0">Setiawan Arya Putra</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      General Affairs & Equipment
    </h1>

    <p class="fs-6 m-0">Ari Susanto*</p>
    <p class="fs-6 m-0">Varell Ari Yuana</p>
    <p class="fs-6 m-0">Kandar Fauzian</p>
    <p class="fs-6 m-0">Akbar Maulana Ramadhan</p>
    <p class="fs-6 m-0">Muhammad Hadiansyah Aziz</p>
    <p class="fs-6 m-0">Fulvian Zahid</p>
    <p class="fs-6 m-0">Mochammad Reizhan Maulana</p>
    <p class="fs-6 m-0">Satrio Bagus Ramadhan</p>
    <p class="fs-6 m-0">Enggar Arya Fradhito</p>
    <p class="fs-6 m-0">Athallah Akmal</p>
    <p class="fs-6 m-0">Dwi Maharani</p>
    <p class="fs-6 m-0">Aliyah Rahmanissa</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Food & Beverage
    </h1>

    <p class="fs-6 m-0">Fitri Hindarti*</p>
    <p class="fs-6 m-0">Novie Ariyanti</p>
    <p class="fs-6 m-0">Yulien Masruth Ndruru</p>
  </div>
  <div class="d-flex flex-column text-center mt-4">
    <h1 class="text-center fs-5 mb-0 text-uppercase fw-bold text-black">
      Sponsorship
    </h1>

    <p class="fs-6 m-0">Galuh Muhammad Dhiya Ulhaq*</p>
    <p class="fs-6 m-0">Maulidya Nabila</p>
    <p class="fs-6 m-0">Sekar Natasya Prameswari</p>
    <p class="fs-6 m-0">Mutia Rahadianti</p>
    <p class="fs-6 m-0">Muhammad Akmal Fadillah</p>
    <p class="fs-6 m-0">Muhammad Hadiansyah Aziz</p>
    <p class="fs-6 m-0">Salsabila Almas</p>
    <p class="fs-6 m-0">Zakiah</p>
    <p class="fs-6 m-0">Dita Kusuma Wardani</p>
    <p class="fs-6 m-0">Ari Susanto</p>
    <p class="fs-6 m-0">Kandar Fauzian</p>
    <p class="fs-6 m-0">Fulvian Zahid</p>
    <p class="fs-6 m-0">Mochammad Reizhan Maulana</p>
    <p class="fs-6 m-0">Selin Putri Cahyani</p>
    <p class="fs-6 m-0">Varell Ari Yuana</p>
    <p class="fs-6 m-0">Akbar Maulana Ramadhan</p>
    <p class="fs-6 m-0">Melati Indah Permatasari</p>
    <p class="fs-6 m-0">Enggar Arya Fradhito</p>
    <p class="fs-6 m-0">Satrio Bagus Ramadhan</p>
  </div>
</section>
