---
import Layout from "../layout/Layout.astro";
import CoHostContainer from "../components/Image/CoHostContainer.astro";
import CoHostImage from "../components/Image/CoHostImage.astro";
---

<Layout title="Co-Host">
  <section class="top-gradient min-height">
    <h1 class="text-center fw-bold text-black pt-4">Co-Host</h1>
    <CoHostContainer title="">
      <CoHostImage
        href="https://www.ukdw.ac.id/" 
        src="../cohost/dutawacana.png"
        alt="Universitas Kristen Daya Wacana"
      />
      <CoHostImage 
        href="https://www.ubaya.ac.id/"
        src="../cohost/ubaya.png"
        alt="Universitas Surabaya"
      />
    </CoHostContainer>

  </section>
</Layout>
