---
import Layout from "../layouts/Layout.astro";
import '../style/style.css'
import '../style/responsive.css'
import CoHost from "../components/Co-Host/CoHost.astro";
---

<Layout title="Co-Host">
  <main>
    <CoHost />
  </main>
</Layout>