---
import Layout from "../layout/Layout.astro";
import Committee from "../components/Committee/Committee.astro";
---

<Layout title="Committee">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4">Committee</h1>
    <Committee />
  </section>
</Layout>
