---
import Layout from "../layouts/Layout.astro";
import '../style/responsive.css'
import '../style/style.css'
import Committee from "../components/Committee/Committee.astro";
---

<Layout title="Committee">
  <main>
    <Committee />
  </main>
</Layout>