---
import Layout from "../layouts/Layout.astro";
import '../style/responsive.css'
import '../style/style.css'
import Contact from "../components/Contact/Contact.astro";
---

<Layout title="Hubungi Kami">
  <main>
    <Contact />
  </main>
</Layout>