---
import Layout from "../layout/Layout.astro";
import Jumbotron from "../components/Jumbotron.astro";
import DateContainer from "../components/Date/DateContainer.astro";
import Date from "../components/Date/Date.astro";
import Date2 from "../components/Date/Date2.astro";
import ButtonContainer from "../components/Button/ButtonContainer.astro";
import Button from "../components/Button/Button.astro";
import ContactContainer from "../components/ContactOne/ContactContainer.astro";
import Contact from "../components/ContactOne/Contact.astro";
import Benefit from "../components/Benefit.astro";
---

<Layout title="Hubungi Kami">
  <section class="bg-image-ncafa">
    <h1 class="text-center fw-bold text-black pt-4 pb-2">Hubungi Kami</h1>
    <ContactContainer title="">
        <div>
            <p class="fs-4 m-0 fw-bold text-black">Sekretariat</p>
            <p class="fs-5 m-0">Universitas Trilogi
              <br>Program Studi Akuntansi
              <br>Jl. TMP Kalibata No. 1, Jakarta Selatan 12760</p>
            <p class="fs-5 m-0"><a href="https://goo.gl/maps/hKtrN4pAWvy24WQd8" target="_blank" class="text-decoration-none">Lihat di Google Maps</a></p>
        </div>
        <div>
          <p class="fs-4 m-0 fw-bold text-black">WhatsApp</p>
            <p class="fs-5 m-0"><a href="https://wa.me/6281770002243" target="_blank" class="text-decoration-none">0817 7000 2243 </a>(Paper)</p>
            <p class="fs-5 m-0"><a href="https://wa.me/6281288425931" target="_blank" class="text-decoration-none">0812 8842 5931 </a>(Seminar)</p>
        </div>
        <div>
            <p class="fs-4 m-0 fw-bold text-black">Email</p>
            <p class="fs-5 m-0"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa@gmail.com" target="_blank" class="text-decoration-none">fourthncafa@gmail.com </a>(main)</p>
            <p class="fs-5 m-0"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa.paper@gmail.com" target="_blank" class="text-decoration-none">fourthncafa.paper@gmail.com</a></p>
        </div>
    </ContactContainer>
</section>
</Layout>
