---
import LayoutEn from "../layout/LayoutEn.astro";
import Jumbotron from "../components/Jumbotron.astro";
import ParagraphEn from "../components/Home/ParagraphEn.astro";
import DateCardContainer from "../components/Date/DateCardContainer.astro";
import DateCard from "../components/Date/DateCard.astro";
import Date from "../components/Date/Date.astro";
import Date3 from "../components/Date/Date3.astro";
import ButtonContainer from "../components/Button/ButtonContainer.astro";
import Button from "../components/Button/Button.astro";
import ImageContainer from "../components/Image/ImageContainer.astro";
import LargeImage from "../components/Image/LargeImage.astro";
import MediumImage from "../components/Image/MediumImage.astro";
import SmallImage from "../components/Image/SmallImage.astro";
import VideoContainer from "../components/Home/VideoContainer.astro";
import Video from "../components/Home/Video.astro";
---

<LayoutEn title="Home">
  <Jumbotron />
  <section class="top-gradient">
    <ParagraphEn />
    <VideoContainer title="Teaser">
      <Video />
    </VideoContainer>
  </section>
  <DateCardContainer title="event date">
    <DateCard>
      <Date subtitle="Session 1" date="Wednesday, 01 February 2023" hour="" />
    </DateCard>
    <DateCard>
      <Date subtitle="Session 2" date="Thursday, 02 February 2023" hour="" />
    </DateCard>
  </DateCardContainer>
  <aside class="bg-image-ncafa">
    <ImageContainer title="Organized by">
      <SmallImage
        src="../eventorganizer/himaksitrilogi.png"
        alt="HIMAKSI Trilogi"
      />
    </ImageContainer>
    <ButtonContainer title="Poster" text="">
      <Button
        text="View Poster"
        href="https://drive.google.com/file/d/1nuXtWrQyZq-DPhf3E_JZzjKkDuI6P8gG/view"
      />
      <Button
        text="Download Poster"
        href="https://drive.google.com/uc?export=download&id=1nuXtWrQyZq-DPhf3E_JZzjKkDuI6P8gG"
      />
    </ButtonContainer>
  </aside>
</LayoutEn>
