---
import Layout from "../layouts/Layout.astro";
import '../style/style.css'
import '../style/responsive.css'
import Home from "../components/Home/Home.astro";
---

<Layout title="Home">
  <main>
    <Home />
  </main>
</Layout>
