---
import LayoutEn from "../layout/LayoutEn.astro";
import JournalPartners from "../components/JournalPartners/JournalPartners.astro";
---

<LayoutEn title="Journal Partners">
  <h1 class="text-center fw-bold text-black pt-4">Journal Partners</h1>
  <JournalPartners />
</LayoutEn>
