---
import Layout from "../layout/Layout.astro";
import NarasumberContainer from "../components/Image/NarasumberContainer.astro";
import MitraJurnalImage from "../components/Image/MitraJurnalImage.astro";
---

<Layout title="Mitra Jurnal">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4">Mitra Jurnal</h1>

    <NarasumberContainer title="Sinta 2">
      <MitraJurnalImage
        name="Jurnal Tata Kelola dan Akuntabilitas Keuangan Negara"
        href="http://www.jurnal.bpk.go.id/index.php/TAKEN"
        src="../mitrajurnal/jtaken2.png"
      />
      <MitraJurnalImage
        name="The Indonesia Accounting Review"
        href=""
        src="../mitrajurnal/tiar2.png"
      />
      <MitraJurnalImage
        name="Journal of Accounting and Strategic Finance"
        href=""
        src="../mitrajurnal/jasf2.png"
      />
      <MitraJurnalImage
        name="Jurnal Akuntansi Auditing Indonesia"
        href=""
        src="../mitrajurnal/jaai2.png"
      />
    </NarasumberContainer>
    <NarasumberContainer title="Sinta 3">
      <MitraJurnalImage
        name="Jurnal Akuntansi: Kajian Ilmiah Akuntansi"
        href="https://e-jurnal.lppmunsera.org/index.php/Akuntansi/issue/view/333"
        src="../mitrajurnal/jak2.png"
      />
      <MitraJurnalImage
        name="Jurnal Akuntansi - Universitas Bengkulu"
        href="https://ejournal.unib.ac.id/index.php/JurnalAkuntansi/index"
        src="../mitrajurnal/ja-bengkulu2.png"
      />
      <MitraJurnalImage
        name="Berkala Akuntansi dan Keuangan Indonesia"
        href="https://e-journal.unair.ac.id/BAKI"
        src="../mitrajurnal/baki.png"
      />
    </NarasumberContainer>
    <NarasumberContainer title="Sinta 4">
      <MitraJurnalImage
        name="Soedirman Accounting Review: Journal of Accounting and Business"
        href="http://jos.unsoed.ac.id/index.php/sar/"
        src="../mitrajurnal/sar2.png"
      />
      <MitraJurnalImage
        name="Jurnal Ilmiah Akuntansi Fakultas Ekonomi"
        href="https://journal.unpak.ac.id/index.php/jiafe"
        src="../mitrajurnal/jiafe2.png"
      />
      <MitraJurnalImage
        name="Accounting Research Journal of Sutaatmadja"
        href="https://ojs.stiesa.ac.id/index.php/accruals/about"
        src="../mitrajurnal/accruals2.png"
      />
      <MitraJurnalImage
        name="Jurnal Riset Bisnis"
        href="http://journal.univpancasila.ac.id/index.php/jrb/index.com"
        src="../mitrajurnal/jrb2.png"
      />
      <MitraJurnalImage
        name="Jurnal Riset Akuntansi Politeknik Negeri Tanah Laut"
        href="https://jra.politala.ac.id/index.php/JRA"
        src="../mitrajurnal/jra2.png"
      />
      <MitraJurnalImage
        name="KEUNIS"
        href="https://jurnal.polines.ac.id/index.php/keunis/index"
        src="../mitrajurnal/keunis2.png"
      />
      <MitraJurnalImage
        name="The International Journal of Applied Business"
        href="https://e-journal.unair.ac.id/TIJAB"
        src="../mitrajurnal/tijab2.png"
      />
      <MitraJurnalImage
        name="Akuntansi Bisnis dan Manajemen"
        href="http://journal.stie-mce.ac.id/index.php/jabm"
        src="../mitrajurnal/abm.png"
      />
      <MitraJurnalImage
        name="Wahana Riset Akuntansi"
        href="http://ejournal.unp.ac.id/index.php/wra/index"
        src="../mitrajurnal/wra2.png"
      />
      <MitraJurnalImage
        name="El Muhasaba: Jurnal Akuntansi"
        href="https://ejournal.uin-malang.ac.id/index.php/el-muhasaba"
        src="../mitrajurnal/elmuhasaba2.png"
      />
      <MitraJurnalImage
        name="Jurnal Riset Akuntansi (JUARA)"
        href="https://e-journal.unmas.ac.id/index.php/juara"
        src="../mitrajurnal/juara2.png"
      />
      <MitraJurnalImage
        name="Jurnal Akuntansi - Universitas Katolik Atma Jaya Indonesia"
        href="https://ejournal.atmajaya.ac.id/index.php/JARA"
        src="../mitrajurnal/jara.png"
      />
    </NarasumberContainer>
    <NarasumberContainer title="Sinta 5">
      <MitraJurnalImage
        name="ACCOUNT Jurnal Akuntansi, Keuangan, dan Perbankan"
        href="https://jurnal.pnj.ac.id/index.php/acc"
        src="../mitrajurnal/account2.png"
      />
      <MitraJurnalImage
        name="Jurnal Aktual Akuntansi Keuangan Bisnis Terapan"
        href="https://jurnal.polines.ac.id/index.php/akunbisnis/about/contact"
        src="../mitrajurnal/akunbisnis2.png"
      />
      <MitraJurnalImage
        name="Jurnal Online Insan Akuntan"
        href="http://ejournal-binainsani.ac.id/index.php/JOIA"
        src="../mitrajurnal/joia.png"
      />
    </NarasumberContainer>
  </section>
    <aside class="bg-image-ncafa">
      <NarasumberContainer title="Google Scholar">
        <MitraJurnalImage
          name="Trilogi Accounting and Business Research"
          href="https://trilogi.ac.id/journal/ks/index.php/TABR"
          src="../mitrajurnal/tabr2.png"
        />
        <MitraJurnalImage
          name="Jurnal Ilmiah Akuntansi Pancasila"
          href="https://journal.univpancasila.ac.id/index.php/JIAP/index"
          src="../mitrajurnal/jiap2.png"
        />
        <MitraJurnalImage
          name="RELEVAN : Jurnal Riset Akuntansi"
          href="https://journal.univpancasila.ac.id/index.php/RELEVAN"
          src="../mitrajurnal/relevan2.png"
        />
        <MitraJurnalImage
          name="INQUISITIVE"
          href="https://journal.univpancasila.ac.id/index.php/INQUISITIVE/index"
          src="../mitrajurnal/inquisitive2.png"
        />
        <MitraJurnalImage
          name="BALANCE: Jurnal Akuntansi, Auditing dan Keuangan"
          href="https://ejournal.atmajaya.ac.id/index.php/BALANCE"
          src="../mitrajurnal/balance2.png"
        />
        <MitraJurnalImage
          name="Applied Accounting and Management Review"
          href="https://jurnal.polines.ac.id/index.php/AAMAR/index"
          src="../mitrajurnal/aamar2.png"
        />
      </NarasumberContainer>
    </aside>
</Layout>
