---
import MitraJurnal from "../components/Mitra Jurnal/MitraJurnal.astro";
import Layout from "../layouts/Layout.astro";
import '../style/responsive.css'
import '../style/style.css'

---

<Layout title="Mitra Jurnal">
  <main>
    <MitraJurnal />
  </main>
</Layout>