---
import LayoutEn from "../layout/LayoutEn.astro";
import Jumbotron from "../components/Jumbotron.astro";
import DateContainer from "../components/Date/DateContainer.astro";
import Date from "../components/Date/Date.astro";
import Date2 from "../components/Date/Date2.astro";
import DateCardContainer from "../components/Date/DateCardContainer.astro";
import DateCard from "../components/Date/DateCard.astro";
import ButtonContainer from "../components/Button/ButtonContainer.astro";
import Button from "../components/Button/Button.astro";
import ContactContainer from "../components/ContactOne/ContactContainer.astro";
import Contact from "../components/ContactOne/Contact.astro";
import BenefitEn from "../components/BenefitEn.astro";
import Container from "../components/Container.astro";
import TableEn from "../components/TableEn.astro";
---

<LayoutEn title="Paper">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4 pb-2">
      Call for Paper and Seminar (16 SKP)
    </h1>
    <BenefitEn />
  </section>

  <DateCardContainer title="Important Date">
    <DateCard>
      <div>
        <p class="fs-6 m-0 fw-bold lh-sm text-danger">EXTENDED!</p>
        <p class="fs-6 m-0 mb-1 fw-bold lh-sm">Submission Deadline</p>
        <p class="fs-6 m-0 lh-sm">Friday, 20 January 2023</p>
        <p class="fs-6 m-0 lh-sm">23:59 WIB (UTC+7)</p>
      </div>
    </DateCard>
    <DateCard>
      <Date2 subtitle="Announcement of Paper Accepted" date="Monday, 24 January 2023" />
    </DateCard>
    <DateCard>
      <Date2
        subtitle="Registration & Payment Deadline"
        date="Sunday, 29 January 2023"
      />
    </DateCard>
    <DateCard>
      <Date
        subtitle="Parallel Session 1"
        date="Wednesday, 01 February 2023"
        hour="08:00 - 12:00 WIB (UTC+7)"
      />
    </DateCard>
    <DateCard>
      <Date
        subtitle="Parallel Session 2"
        date="Thursday, 02 February 2023"
        hour="13:00 - 17:00 WIB (UTC+7)"
      />
    </DateCard>
  </DateCardContainer>
  <aside class="bg-image-ncafa">
    <ButtonContainer title="Template" text="">
      <Button
        text="Download the Abstract Template"
        href="https://drive.google.com/uc?export=download&id=1zyFj2uHUzykWw_QIfSqejXENNNkJ_Mt0"
      />
      <Button
        text="Download the Full Paper Template"
        href="https://drive.google.com/uc?export=download&id=1qxMLBSddEV-yHhbruFKv3zDBVKwSMz0Q"
      />
    </ButtonContainer>
    <ButtonContainer title="Paper Submission" text="">
      <Button text="Click here" href="https://bit.ly/4thNCAFA_SubmitPaper" />
    </ButtonContainer>
    <Container title="Investment">
      <TableEn />
    </Container>
    <ButtonContainer
      title="Registration*"
      text="*)  after the announcement of the paper is received"
    >
      <Button text="Click here" href="https://bit.ly/4thNCAFA_Registration" />
    </ButtonContainer>
    <ContactContainer title="Contact us">
      <Contact
        subtitle="WhatsApp"
        href="https://wa.me/6281770002243"
        contact="0817 7000 2243 "
        name="(Alda)"
      />
      <Contact
        subtitle="Email"
        href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa.paper@gmail.com"
        contact="fourthncafa.paper@gmail.com "
        name=""
      />
    </ContactContainer>
  </aside>
</LayoutEn>
