---
import Layout from "../layouts/Layout.astro";
import '../style/responsive.css'
import '../style/style.css'
import Paper from "../components/Paper/Paper.astro";
---

<Layout title="Paper">
  <main>
    <Paper />
  </main>
</Layout>