---
import ImageContainer from "../components/Image/ImageContainer.astro";
import Layout from "../layout/Layout.astro";
import LargeImage from "../components/Image/LargeImage.astro";
import MediumImage from "../components/Image/MediumImage.astro";
import SmallImage from "../components/Image/SmallImage.astro";
import MediaPartner from "../components/Image/MediaPartner.astro";
---

<Layout title="Partners">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4">Sponsors & Media Partners</h1>
    <ImageContainer title="platinum sponsor">
      <LargeImage 
        src="../sponsors/angkasapura2.png"
      />
      <LargeImage 
        src="../sponsors/indosatooredoo.png"
      />
      <LargeImage 
        src="../sponsors/ptpii.png"
      />
    </ImageContainer>
    <ImageContainer title="silver sponsor">
      <SmallImage 
        src="../sponsors/klinikaku2.png"
      />
    </ImageContainer>
    </section>
    <section class="bg-image-ncafa">
    <ImageContainer title="media partners">
      <MediaPartner src="../mediapartner/eventcampus2.png"/>
      <MediaPartner src="../mediapartner/eventcenter2.png"/>
      <MediaPartner src="../mediapartner/eventdetect2.png"/>
      <MediaPartner src="../mediapartner/eventkampus2.png"/>
      <MediaPartner src="../mediapartner/eventnyamahasiswa2.png"/>
      </ImageContainer> 
      <ImageContainer title="">
      <MediaPartner src="../mediapartner/ikutevent2.png"/>
      <MediaPartner src="../mediapartner/infolombaekonomi2.png"/>
      <MediaPartner src="../mediapartner/madingevent2.png"/>
      <MediaPartner src="../mediapartner/olimpiadeupdate2.png"/>
      <MediaPartner src="../mediapartner/pointkampus2.png"/>
    </ImageContainer>

  </section>
</Layout>
