---
import ImageContainer from "../components/Image/ImageContainer.astro";
import ImageContainer2 from "../components/Image/ImageContainer2.astro";
import ImageContainer3 from "../components/Image/ImageContainer3.astro";
import MediaPartnerContainer from "../components/Image/MediaPartnerContainer.astro";
import LayoutEn from "../layout/LayoutEn.astro";
import ExtraLargeImage from "../components/Image/ExtraLargeImage.astro";
import LargeImage from "../components/Image/LargeImage.astro";
import MediumImage from "../components/Image/MediumImage.astro";
import SmallImage from "../components/Image/SmallImage.astro";
import MediaPartner from "../components/Image/MediaPartner.astro";
import ExtraSmallImage from "../components/Image/ExtraSmallImage.astro";
---

<LayoutEn title="Partners">
  <section class="top-gradient">
    <h1 class="text-center fw-bold text-black pt-4">Sponsors & Media Partners</h1>
    <ImageContainer2 title="platinum sponsor">
      <ExtraLargeImage 
        src="../sponsors/bankindonesia2.png"
      />
    </ImageContainer2>
    <ImageContainer3>
      <LargeImage 
        src="../sponsors/angkasapura2.png"
      />
      <LargeImage 
        src="../sponsors/indosatooredoo.png"
      />
      <LargeImage 
        src="../sponsors/ptpii.png"
      />
      <LargeImage 
        src="../sponsors/klinikaku2.png"
      />
    </ImageContainer3>
    <ImageContainer title="silver sponsor">
      <SmallImage src="../sponsors/kapsriyadi.png"/>
      <SmallImage src="../sponsors/sayurbox.png"/>
    </ImageContainer>
    <ImageContainer title="bronze sponsor">
      <ExtraSmallImage src="../sponsors/wardah.png" />
    </ImageContainer>
    </section>
    <section class="bg-image-ncafa">
    <MediaPartnerContainer title="media partners">
      <MediaPartner src="../mediapartner/sejutacita.png"/>
      <MediaPartner src="../mediapartner/eventcampus2.png"/>
      <MediaPartner src="../mediapartner/eventcenter2.png"/>
      <MediaPartner src="../mediapartner/eventdetect2.png"/>
      <MediaPartner src="../mediapartner/eventkampus2.png"/>
      <MediaPartner src="../mediapartner/eventnyamahasiswa2.png"/>
      <MediaPartner src="../mediapartner/ikutevent2.png"/>
      <MediaPartner src="../mediapartner/infolombaekonomi2.png"/>
      <MediaPartner src="../mediapartner/madingevent2.png"/>
      <MediaPartner src="../mediapartner/olimpiadeupdate2.png"/>
      <MediaPartner src="../mediapartner/pointkampus2.png"/>
      <MediaPartner src="../mediapartner/infolomba.png"/>
      <MediaPartner src="../mediapartner/lombamahasiswa.png"/>
    </MediaPartnerContainer>

  </section>
</LayoutEn>
