---
import Partners from "../components/Partners/Partners.astro";
import Layout from "../layouts/Layout.astro";
import '../style/responsive.css'
import '../style/style.css'

---

<Layout title="Partners">
  <main>
    <Partners />
  </main>
</Layout>