---
import Seminar from "../components/Seminar/Seminar.astro";
import Layout from "../layouts/Layout.astro";
import '../style/responsive.css'
import '../style/style.css'

---

<Layout title="Seminar">
  <main>
    <Seminar />
  </main>
</Layout>