<img
  class="homepage__jumbotron"
  src="../jumbotron/Website3-4-01.webp"
  alt="jumbotron"
/>
<section>
  <div class="about">
    <h2 class="page__title">
      4<sup>th</sup> National Conference on Accounting and Fraud Auditing
      <br />01 - 02 Februari 2023
    </h2>
    <div class="about__description">
      <p>
        National Conference on Accounting & Fraud Auditing (NCAFA) merupakan
        sebuah konferensi tingkat nasional di bidang akuntansi dan audit yang
        memiliki rangkaian kegiatan Call for Paper dan Seminar. Adapun tujuan
        dari acara ini adalah untuk mendukung Tri Dharma perguruan tinggi,
        khususnya di bidang penelitian dimana NCAFA menjadi wadah bagi
        akademisi, praktisi dan mahasiswa se-Indonesia untuk mempresentasikan
        hasil riset terbaik dalam bidang akuntansi. NCAFA juga menjadi agenda
        rutin Program Studi Akuntansi, Universitas Trilogi sejak tahun 2019.
        Konferensi ini merupakan bentuk kontribusi dari Program Studi Akuntansi,
        Universitas Trilogi dalam perkembangan ilmu akuntansi di Indonesia.
        NCAFA merupakan hasil inisiasi kerja sama antara Universitas Trilogi
        dengan Association of Certified Fraud Examiners (ACFE) Indonesia Chapter
        dan Association of Public Sector Accounting Educator (APSAE). Dalam
        perjalanannya penyelenggaraan NCAFA kemudian berkembang dengan bekerja
        samanya NCAFA dengan beberapa Jurnal Terakreditasi SINTA, Aliansi
        Pengelola Jurnal Berintegritas Indonesia (ALJEBI), serta Universitas
        Negeri maupun Swasta Indonesia. Seiring dengan perkembangan tersebut,
        antusiasme peserta dari tahun ke tahun juga kian meningkat.
      </p>
      <p>
        Tahun 2023 merupakan tahun keempat penyelenggaraan NCAFA dan akan
        diselenggarakan secara hybrid; luring di Auditorium Universitas Trilogi,
        Jakarta dan daring melalui Zoom Cloud Meetings. Kegiatan 4th NCAFA ini
        akan membawa pengaruh penting bagi Universitas Trilogi dalam menjalin
        komunikasi ilmiah dengan para akademisi, praktisi bisnis maupun pelaku
        sektor publik karena hasil riset bidang akuntansi yang dipresentasikan
        meliputi berbagai kajian, termasuk di dalamnya Akuntansi Keuangan dan
        Pasar Modal (AKPM), Akuntansi Manajemen dan Keperilakuan (AKMK), Sistem
        Informasi, Pengauditan, dan Etika Profesi (SIAEP), Perpajakan (PPJK),
        Akuntansi Syariah (AKSR), Tata Kelola dan Sustainability Accounting
        (TKSA), Fraud and Forensic Accounting (FFA), Akuntansi Sektor Publik
        (ASP), dan Pendidikan Akuntansi (PAk).
      </p>
      <p>
        Hasil dari konferensi ini diharapkan akan memberikan solusi alternatif
        yang menjembatani antara pandangan berdasarkan teori dan hasil riset di
        dunia ilmiah dengan realitas praktik baik pada sektor bisnis maupun
        sektor publik. Konferensi ini juga diharapkan dapat memberikan
        kontribusi dalam bentuk gagasan konstruktif sebagai rekomendasi bagi
        kebijakan pemerintah, terutama peran akuntan dalam melakukan pencegahan
        terhadap tindakan kecurangan, peraturan perpajakan, dan
        kebijakan-kebijakan di sektor pasar modal dan pasar uang.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="date">
    <h2 class="page__title">Tanggal Pelaksanaan</h2>
    <div class="event__date">
      <div class="day">
        <p class="page__text"><b><i>Session 1</i></b></p>
        <p class="page__text">Rabu, 01 Februari 2023</p>
      </div>
      <div class="day">
        <p class="page__text"><b><i>Session 2</i></b></p>
        <p class="page__text">Kamis, 02 Februari 2023</p>
      </div>
    </div>
  </div>
  <section>
    <div class="poster">
      <h2 class="page__title"><i>Poster</i></h2>
      <div class="event__poster">
        <a
          class="links"
          href="https://images2.imgbox.com/e9/45/eyTNzTeu_o.jpg"
          target="_blank"
          rel="noopener"
        >
          <p class="page__text">Lihat Poster</p>
        </a>
        <a
          class="links"
          href="https://drive.google.com/uc?export=download&id=1S9teQhJFQFlNY77oka0SW0NthuJwRzBH"
        >
          <p class="page__text">Unduh Poster</p>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="eventorganizer">
      <h2 class="page__title"><i>Organized by</i></h2>
      <div class="eo__logo">
        <div>
          <a href="https://www.instagram.com/himaksitrilogi" target="_blank">
            <img
              src="../eventorganizer/himaksitrilogi.png"
              alt="HIMAKSI Trilogi"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
