<section class="container container-md pt-4 pb-2 mb-4 bg-ncafa2 rounded-4 ">
    <h1 class="text-center fw-bold text-black">4<sup>th</sup> National Conference on Accounting and Fraud
        Auditing</h1>
    <h1 class="fs-3 text-center fw-bold text-black">01-02 Februari 2023</h1>
    <p class="text-justify fs-6">
        National Conference on Accounting & Fraud Auditing (NCAFA) merupakan sebuah konferensi tingkat
        nasional di bidang akuntansi dan audit yang memiliki rangkaian kegiatan Call for Paper dan Seminar.
        Adapun tujuan dari acara ini adalah untuk mendukung Tri Dharma perguruan tinggi, khususnya di bidang
        penelitian dimana NCAFA menjadi wadah bagi akademisi, praktisi dan mahasiswa se-Indonesia untuk
        mempresentasikan hasil riset terbaik dalam bidang akuntansi. NCAFA juga menjadi agenda rutin Program
        Studi Akuntansi, Universitas Trilogi sejak tahun 2019. Konferensi ini merupakan bentuk kontribusi
        dari Program Studi Akuntansi, Universitas Trilogi dalam perkembangan ilmu akuntansi di Indonesia.
        NCAFA merupakan hasil inisiasi kerja sama antara Universitas Trilogi dengan Association of Certified
        Fraud Examiners (ACFE) Indonesia Chapter dan Association of Public Sector Accounting Educator
        (APSAE). Dalam perjalanannya penyelenggaraan NCAFA kemudian berkembang dengan bekerja samanya NCAFA
        dengan beberapa Jurnal Terakreditasi SINTA, Aliansi Pengelola Jurnal Berintegritas Indonesia
        (ALJEBI), serta Universitas Negeri maupun Swasta Indonesia. Seiring dengan perkembangan tersebut,
        antusiasme peserta dari tahun ke tahun juga kian meningkat.
    </p>
    <p class="text-justify fs-6">
        Tahun 2023 merupakan tahun keempat penyelenggaraan NCAFA dan akan diselenggarakan secara hybrid;
        luring di Auditorium Universitas Trilogi, Jakarta dan daring melalui Zoom Cloud Meetings. Kegiatan
        4th NCAFA ini akan membawa pengaruh penting bagi Universitas Trilogi dalam menjalin komunikasi
        ilmiah dengan para akademisi, praktisi bisnis maupun pelaku sektor publik karena hasil riset bidang
        akuntansi yang dipresentasikan meliputi berbagai kajian, termasuk di dalamnya Akuntansi Keuangan dan
        Pasar Modal (AKPM), Akuntansi Manajemen dan Keperilakuan (AKMK), Sistem Informasi, Pengauditan, dan
        Etika Profesi (SIAEP), Perpajakan (PPJK), Akuntansi Syariah (AKSR), Tata Kelola dan Sustainability
        Accounting (TKSA), Fraud and Forensic Accounting (FFA), Akuntansi Sektor Publik (ASP), dan
        Pendidikan Akuntansi (PAk).
    </p>
    <p class="text-justify fs-6">
        Hasil dari konferensi ini diharapkan akan memberikan solusi alternatif yang menjembatani antara
        pandangan berdasarkan teori dan hasil riset di dunia ilmiah dengan realitas praktik baik pada sektor
        bisnis maupun sektor publik. Konferensi ini juga diharapkan dapat memberikan kontribusi dalam bentuk
        gagasan konstruktif sebagai rekomendasi bagi kebijakan pemerintah, terutama peran akuntan dalam
        melakukan pencegahan terhadap tindakan kecurangan, peraturan perpajakan, dan kebijakan-kebijakan di
        sektor pasar modal dan pasar uang.</p>
    <div class="d-grid gap-1 col-auto col-6 mx-auto">
    </div>
</section>