<section class="container container-md pt-4 pb-2 mb-4 bg-ncafa2 rounded-4">
  <h1 class="fs-2 text-center fw-bold text-black">
    1<sup>st</sup> International  & 4<sup>th</sup> National Conference on Accounting and Fraud Auditing
  </h1>
  <h1 class="fs-3 text-center fw-bold text-black">01-02 February 2023</h1>
  <p class="text-justify fs-6 text-black">
    The  1<sup>st</sup> International and  4<sup>th</sup> National Conference on Accounting & Fraud Auditing (InCAFA) is a international-level conference in the field of accounting and auditing which has a series of Call for Papers and Seminar activities. The purpose of this event is to support the Tri Dharma of higher education, specifically in the field of research where InCAFA is a forum for academics, practitioners and students throughout Indonesia to present the best research results in the field of accounting. InCAFA has also become a routine agenda for the Major of Accountance, Trilogi University since 2019. This conference is a form of contribution from the Major of Accountance, Trilogi University for the accounting development in Indonesia in Indonesia. InCAFA is the result of a collaborative initiative between Trilogi University and the Association of Certified Fraud Examiners (ACFE) Indonesia Chapter and the Association of Public Sector Accounting Educators (APSAE). In its journey the implementation of InCAFA then developed with the cooperation of InCAFA with several SINTA Accredited Journals, the Alliance of Indonesian Integrity Journal Management (ALJEBI), as well as Several National and Private Indonesian Universities. Along with these developments, the enthusiasm of the participants from year to year has also increased.
  </p>
  <p class="text-justify fs-6 text-black">
    2023 is the fourth year of  the InCAFA and will be held in a hybrid manner; offline at Trilogi University Auditorium, Jakarta and online through Zoom Cloud Meetings. The InCAFA activity holds important influence on Trilogi University in establishing scientific communication along side academics, business practitioners and public sector actors because the results of the accounting research presented cover various studies, including Financial Accounting and Capital Markets (AKPM), Management Accounting and Behavior (AKMK), Information Systems, Auditing, and Professional Ethics (SIAEP), Taxation (PPJK), Sharia Accounting (AKSR), Governance and Sustainability Accounting (TKSA), Fraud and Forensic Accounting (FFA), Public Sector Accounting (ASP), and Accounting Education (PAk).
  </p>
  <p class="text-justify fs-6 text-black">
    The results of this conference are expected to provide alternative solutions that bridge views based on theory and research results in the scientific world with practical realities in both the business sector and the public sector. This conference is also expected to contribute constructive ideas as recommendations for government policies, especially the role of accountants in preventing fraud, tax regulations, and policies in the capital market and money market sectors.
  </p>
</section>
