<h2 class="page__title">Hubungi Kami</h2>
          <div class="contactperson">
            <div class="cp 1">
              <h3 class="page__subtitle-cp">Sekretariat</h3>
              <p class="page__text">Universitas Trilogi <br>
                Program Studi Akuntansi <br>
                Jl. TMP Kalibata No. 1, Jakarta Selatan 12760 <br></p>
              <p class="page__text"><a href="https://goo.gl/maps/hKtrN4pAWvy24WQd8" target="_blank">Lihat di Google Maps</a>
              </p>
            </div>
            <div class="cp 1">
              <h3 class="page__subtitle-cp">WhatsApp</h3>
              <p class="page__text"><a href="https://wa.me/6281288425931" target="_blank">0812 8842 5931</a> (Seminar)</p>
              <p class="page__text"><a href="https://wa.me/6281770002243" target="_blank">0817 7000 2243</a> <i>(Paper)</i>
              </p>
            </div>
            <div class="cp 1">
              <h3 class="page__subtitle-cp">Instagram</h3>
              <p class="page__text"><a href="https://www.instagram.com/akuntansi.trilogi"
                  target="_blank">@akuntansi.trilogi</a></p>
              <p class="page__text"><a href="https://www.instagram.com/himaksitrilogi" target="_blank">@himaksitrilogi</a>
              </p>
            </div>
            <div class="cp 1">
              <h3 class="page__subtitle-cp">Email</h3>
              <p class="page__text"><a href="https://wa.me/6281288425931" target="_blank">fourthncafa@gmail.com</a> (main)</p>
              <p class="page__text"><a href="https://wa.me/6281770002243" target="_blank">fourthncafa.paper@gmail.com</a>
              </p>
            </div>
          </div>