@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    cursor: default;
}

hr {
    width: 60%;
    margin: auto;
}


.page__title {
    text-align: center;
    margin: 2vh 0;
    color: #2E4696;
    font-size: 35px
}

.page__subtitle {
    font-size: 30px;
    text-align: center;
    color: #2E4696;
    margin: 2vh 0 1vh;
}

.page__subtitle-cp {
    font-size: 30px;
    text-align: center;
    color: black;
}

.page__text {
    font-size: 1.6rem;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .page__title {
        text-align: center;
        margin: 2vh 0;
        color: #2E4696;
        font-size: 24px;
    }

    .page__subtitle {
        font-size: 21px;
        text-align: center;
        color: #2E4696;
    }

    .page__subtitle-cp {
        font-size: 21px;
        text-align: center;
        color: black;
    }

    .page__text {
        font-size: 16px;
    }
}

section {
    margin: 2vh auto;
    border-radius: 25px;
    width: 97%;
}

main {
    background-color: white;
    background: url('../jumbotron/Background-05.png') no-repeat center top fixed;
    background-size: cover;
    background-position: calc(center - 20%);
    min-height: 90vh;
    overflow: hidden;
    padding: 2vh auto;
}

/*
NAVIGATION BAR
*/
.app-bar {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #FEBA12, #078193);
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(2, auto);
    align-content: center;
    direction: rtl;
    margin: auto;
    padding: 8px 16px;
    gap: 0 20px;
    background-color: white;
    z-index: 99;
}

.app-bar .app-bar__brand .primary__eo {
    margin: auto;
    width: 320px;
}

.app-bar .app-bar__brand .secondary__eo {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: auto;
    gap: 20px;
    direction: ltr;
}


.app-bar .app-bar__brand .secondary__eo .__brand_2 {
    max-height: 60px;
}

.app-bar .app-bar__navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -250%;
    width: 100%;
    transition: all 1s;
    background-image: linear-gradient(to right, #078193 20%, #2E4696 90%);
    overflow: hidden;
    padding: 16px 0px;
    z-index: -999;

}

.app-bar .app-bar__navigation.open {
    top: 118px;
    transition: 0.5s all;
}

.app-bar .app-bar__navigation ul {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    gap: 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.app-bar .app-bar__navigation ul li {
    text-decoration: none;
    list-style: none
}

.app-bar .app-bar__navigation ul li::marker {
    display: none;
}

.app-bar .app-bar__navigation ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px 12px;
    margin-bottom: 5px;
    width: 100%;

    position: relative;
}

.app-bar .app-bar__navigation ul li a:hover {
    opacity: 1;
}

.active {
    background-color: #F7A224;
    border-radius: 25px;
    opacity: 1;
}

.blurred {
    filter: blur(2px)
}

/*
MAIN
*/

/* About */
.homepage__jumbotron {
    width: 100%;
    height: 50vh;
    margin: auto;
    object-fit: cover;
}

@media screen and (max-width: 425px) {
    .homepage__jumbotron {
        height: 40vh;
    }
}

.about {
    display: flex;
    flex-direction: column;
}

.about__description {
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 1vh;
    width: 80%;
    margin: 2vh auto;
}

.about__description p {
    font-size: 1.6rem;
    text-align: justify;
    text-indent: 25px;
}

@media screen and (max-width: 425px) {
    .about__description p {
        font-size: 16px;
    }

    .about__description {
        width: 95%;
    }
}

.jumbotron {
    height: 60vh;
    width: 100vw;
    background-color: #078193;
    background-image: url('./ASSETS/jumbotron/Website3-4-01.webp');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

/* Co-Host */
.cohost__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cohost__img {
    padding: 1.4em;
}

.cohost__name {
    text-align: center;
}

.cohost__logo {
    height: 150px;
}

/* Mitra Jurnal */
.mitrajurnal__container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 7.5vh;
}

.mitrajurnal__brand {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 40%;
    height: 100%;
    margin: auto;
}

.mitrajurnal__name {
    display: flex;
    width: 95%;
    flex-basis: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;

    color: #2E4696;
    font-weight: bold;
}

.mitrajurnal__logo {
    display: flex;
    align-items: center;
    margin: auto;
    flex-basis: 1;

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0 5%;
    flex-direction: column;

    cursor: auto;

    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .mitrajurnal__container {
        width: 100%;
    }

    .mitrajurnal__brand {
        padding: 0.5em;
        width: 95%;
    }

    .mitrajurnal__logo {
        width: 70%;

    }

    .mitrajurnal__brand a {
        flex-direction: column;
    }

    .mitrajurnal__name {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
    }
}

/* Media Partner */
.mediapartner__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.mediapartner__brand,
.sponsor__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin: auto;
    gap: 10px;
}

.mediapartner__logo {
    width: 10%;
}

.sponsor__logo {
    width: 25%;
}

.mediapartner__logo.round {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .mediapartner__container {
        width: 100%;
    }

    .mediapartner__brand {
        padding: 0.5em;
        width: 95%;
    }

    .mediapartner__logo {
        width: 20%;
    }

    .sponsor__logo {
        width: 60%;
    }

    .mediapartner__brand a {
        flex-direction: column;
    }

    .mediapartner__name {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

/* Seminar */
.seminar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 20px);
    margin: auto;

    text-align: center;
}

.seminar .stm {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    gap: 2vh;
}

.speaker__img {
    width: 100%;
    max-width: 170px;
    border-radius: 50%;
}

/* Paper */
.callpaper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 20px);
    margin: auto;
    gap: 2vh;

    text-align: justify;
}

.cfp {
    width: 80vw;
}

.bidangkajian {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    gap: 1vh;
    list-style-type: decimal;
}

.benefit {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: 500;
    gap: 1vh;
    text-align: left;
    margin: auto;
}

@media screen and (max-width: 425px) {
    .benefit {
        width: 90%;
    }

}

.callpaper .cp-indirect {
    display: flex;
    align-items: flex-start;

    height: 100%;
}

.callpaper .cp a {
    text-decoration: underline;
    color: #2E4696;
}

.callpaper .cp a:hover {
    font-weight: 600;
}


/* Kepanitiaan */
.kepanitiaan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 20px);
    margin: auto;
    gap: 2vh;

    text-align: center;
}

.kepanitiaan .kp .name {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    gap: 0.75vh;
}

.kepanitiaan .cp-indirect {
    display: flex;
    align-items: flex-start;

    height: 100%;
}

.kepanitiaan .cp a {
    text-decoration: underline;
    color: #2E4696;
}

.kepanitiaan .cp a:hover {
    font-weight: 600;
}

/* Child Section */
.date,
.poster,
.eventorganizer,
.price,
.seminar,
.paper__links {
    display: flex;
    flex-direction: column;
}

.event__date,
.event__poster,
.event__price,
.eo__logo,
.paper__links__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5vh;
    text-align: center;
    margin-bottom: 2vh;
}

.event__speaker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 2.5vh;
    text-align: center;
    margin-bottom: 2vh;
}

.links {
    text-decoration: none;
    border: #2E4696 2px solid;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: #2E4696;
    color: white;
    opacity: 0.9;
}

.links-smr a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.links:hover {
    opacity: 1;
    transition: 0.5s all;
    transform: scale(110%);
}

.eo__logo img {
    max-width: 180px;
    width: 100%;
}

/* Contact Person */
.contactperson {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5vh;

    text-align: center;
}

.contactperson .cp {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
    width: 90%;
    font-weight: 500;
}

.contactperson .cp a {
    text-decoration: none;
    color: #2E4696;
}

/* Footer */
footer {
    background-image: linear-gradient(to right, #078193 20%, #2E4696 90%);
    padding: 32px;
}

footer p {
    color: azure;
}