<section class="container-fluid pb-2 mb-4 pt-4 pb-4">
    <div class="d-flex flex-column text-center mb-4">
        <h1 class="text-center fs-4 fw-bold text-uppercase">bidang kajian</h1>
        <div class="container-xl d-flex flex-row flex-wrap justify-content-center gap-2">
            <div class="card p-2" style="width: 20rem; min-height: 5vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Akuntansi Keuangan dan Pasar Modal (AKPM)
                    </p>
                </div>
            </div>
            <div class="card p-2" style="width: 20rem; min-height: 5vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Akuntansi Manajemen dan Keperilakuan (AKMK)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Akuntansi Sektor Publik (ASP)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Akuntansi Syariah (AKSR)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Fraud and Forensic Accounting (FFA)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Pendidikan Akuntansi (PAk)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Perpajakan (PPJK)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Sistem Informasi, Pengauditan, dan Etika Profesi (SIAEP)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Tata Kelola & Sustainability Accounting (TKSA)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column text-center">
        <h1 class="text-center fs-4 fw-bold text-uppercase">benefit</h1>
        <div class="d-flex flex-row flex-wrap justify-content-center gap-2">
            <div class="card p-2" style="width: 20rem; min-height: 10vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text lh-sm">Sertifikat dengan <span class="fw-bold">Satuan Kredit Poin (SKP)</span>
                    </p>
                </div>
            </div>
            <div class="card p-2" style="width: 20rem; min-height: 10vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text lh-sm">Memperoleh kesempatan <span class="fw-bold">publikasi pada Jurnal
                            terakreditasi SINTA / Indeks Google Cendikia (Scholar) / Prosiding ber-ISSN</span></p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 10vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text lh-sm">Berkesempatan meraih <span class="fw-bold">predikat <i>best paper</i>
                            dan hadiah uang tunai</span></p>
                </div>
            </div>
        </div>
    </div>
</section>