<section class="container-fluid pb-2 mb-4 pt-4 pb-4">
    <div class="d-flex flex-column text-center mb-4">
        <h1 class="text-center fs-4 fw-bold text-uppercase">field of study</h1>
        <div class="container-xl d-flex flex-row flex-wrap justify-content-center gap-2">
            <div class="card p-2" style="width: 20rem; min-height: 5vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Financial Accounting and Capital Markets (AKPM)
                    </p>
                </div>
            </div>
            <div class="card p-2" style="width: 20rem; min-height: 5vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Management and Behavioral Accounting (AKMK)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Public Sector Accounting (ASP)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Sharia Accounting (AKSR)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Fraud and Forensic Accounting (FFA)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Accounting Education (PAk)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Taxation (PPJK)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Information Systems, Auditing, and Professional Ethics (SIAEP)</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 5vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text">Governance & Sustainability Accounting (TKSA)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column text-center">
        <h1 class="text-center fs-4 fw-bold text-uppercase">benefit</h1>
        <div class="d-flex flex-row flex-wrap justify-content-center gap-2">
            <div class="card p-2" style="width: 20rem; min-height: 10vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text lh-sm">Certificate with Continuing Professional Development (CPD)
                    </p>
                </div>
            </div>
            <div class="card p-2" style="width: 20rem; min-height: 10vh">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text lh-sm">Obtaining the opportunity to publish in SINTA accredited journals / Google Scholar Index / Proceedings with ISSN</p>
                </div>
            </div>
            <div class="card p-3" style="width: 20rem; min-height: 10vh;">
                <div class="d-flex flex-column justify-content-center align-content-center m-auto">
                    <p class="card-text lh-sm">Opportunity to win best paper and cash prizes</p>
                </div>
            </div>
        </div>
    </div>
</section>