---
export interface Props {
    title: string
}

const {title} = Astro.props
---

<section class="container-md pt-2 pb-4 mt-4 bg-ncafa2">
    <div class="d-flex flex-column text-center">
        <h1 class="text-center fs-4 fw-bolder text-uppercase">{title}</h1>
        <div class="row gap-3">
            <slot />
        </div>
    </div>
</section>