<footer>
  <p><b>&copy; 2022 4<sup>th</sup> NCAFA</b></p>
  <div class="footer__address">
    <p>
      Universitas Trilogi <br />
      Program Studi Akuntansi <br />
      Jl. TMP Kalibata No. 1 Jakarta Selatan 12760 <br /><br />
    </p>
  </div>
</footer>

<style>
  footer {
    background-image: linear-gradient(to right, #078193 20%, #2e4696 90%);
    padding: 32px;
  }

  footer p {
    color: azure;
  }
</style>
