<footer class="bg-ncafa pt-5 pb-3">
    <div class="m-3 mt-lg-4 mb-lg-4 m-lg-5 text-white">
        <h3 class="fs-6 fw-bold"> © 2023 <br> 1<sup>st</sup> International & 4<sup>th</sup> National
        <br>Conference on Accounting and Fraud Auditing </h3>
        <p class="fs-6">
            Universitas Trilogi - Program Studi Akuntansi
            <br>
            Jl TMP Kalibata No. 1 Jakarta Selatan 12760
        </p>
        <div>
            <p class="mb-0">Baca bahasa lain</p>
            <div class="d-flex flex-column">
                <a class="text-white text-decoration-underline" href="/">English</a>
                <a class="text-white text-decoration-underline" href="/id/">Indonesia</a>
            </div>
        </div>
    </div>
</footer>