<header class="app-bar">
  <div class="app-bar__brand">
    <img
      class="primary__eo"
      src="../eventorganizer/4thncafa.png"
      alt="4th NCAFA Trilogi 2023"
    />
    <div class="secondary__eo">
      <a
        href="https://trilogi.ac.id/universitas/program-studi-akuntansi/"
        target="_blank"
      >
        <img
          class="__brand_2"
          src="../eventorganizer/prodiakuntansi.png"
          alt="Program Studi Akuntansi"
        />
      </a>
      <a href="https://iaijakarta.or.id/newjktweb/" target="_blank">
        <img
          class="__brand_2"
          src="../eventorganizer/iaidkijakarta.png"
          alt="IAI DKI Jakarta"
        />
      </a>
      <a href="https://www.apsae.or.id/" target="_blank">
        <img class="__brand_2" src="../eventorganizer/apsae.png" alt="APSAE" />
      </a>
      <a href="https://acfe-indonesia.or.id/" target="_blank">
        <img
          class="__brand_2"
          src="../eventorganizer/acfe-indonesia.jpg"
          alt="ACFE Indonesia"
        />
      </a>
    </div>
  </div>
  <div class="app-bar__menu">
    <button class="hamburgerButton" id="hamburgerButton">☰</button>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul id="navigationButton">
      <li><a id="nav-link" class="nav-links" href="/">BERANDA</a></li>
      <li><a id="nav-link" class="nav-links" href="/seminar">SEMINAR</a></li>
      <li><a id="nav-link" class="nav-links" href="/paper"><i>PAPER</i></a></li>
      <li>
        <a id="nav-link" class="nav-links" href="/mitrajurnal">MITRA JURNAL</a>
      </li>
      <li>
        <a id="nav-link" class="nav-links" href="/cohost"><i>CO-HOST</i></a>
      </li>
      <li>
        <a id="nav-link" class="nav-links" href="/committee"><i>COMMITTEE</i></a>
      </li>
      <li>
        <a id="nav-link" class="nav-links" href="/partners"
          ><i>SPONSORS & MEDIA PARTNERS</i>
        </a>
      </li>
      <li>
        <a id="nav-link" class="nav-links" href="/contact">HUBUNGI KAMI</a>
      </li>
    </ul>
  </nav>
</header>
