<header>
    <nav>
        <div class="container-fluid pt-2 pb-2 bg-white">
            <div class="row d-flex flex- justify-content-around">
                <div
                    class="d-flex justify-content-center align-content-center flex-row mt-auto mb-auto gap-2 col-7 col-xl-4">
                    <div class="col"><img src="../eventorganizer/prodiakuntansi2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col"><img src="../eventorganizer/iai2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col"><img src="../eventorganizer/apsae2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col"><img src="../eventorganizer/acfe2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col"><img src="../eventorganizer/kampusmerdeka.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-5 col-md-3 col-xl-2 mt-auto mb-auto"><img src="../eventorganizer/incafa.png"
                        alt="" class="img-fluid"></div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-ncafa">
            <div class="container-fluid">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center align-content-center " id="navbarNav">
                    <ul class="navbar-nav gap-0 gap-lg-3 align-content-center justify-content-center d-flex flex-wrap ">
                        <li class="text-center nav-item">
                            <a class="fs-6 nav-link text-white" href="/">HOME</a>
                        </li>
                        <li class="text-center nav-item">
                            <a class="fs-6 nav-link text-white" href="/seminar">SEMINAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="fs-6 text-center nav-link text-white" href="/paper">PAPER</a>
                        </li>
                        <li class="nav-item">
                            <a class="fs-6 text-center nav-link text-white" href="/journalpartners">JOURNAL PARTNERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="fs-6 text-center nav-link text-white" href="/cohost">CO-HOST</a>
                        </li>
                        <li class="nav-item">
                            <a class="fs-6 text-center nav-link text-white" href="/committee">COMMITTEE</a>
                        </li>
                        <li class="nav-item">
                            <a class="fs-6 text-center nav-link text-white" href="/partners">SPONSORS & MEDIA PARTNERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="fs-6 text-center nav-link text-white" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
</header>

<script>
    var activeNavlink = document.querySelectorAll('li a[href^="/' + location.pathname.split("/")[1] + '"]');
activeNavlink[0].classList.add('active-ncafa');
</script>