---
export interface Props {
    title: string;
    paragraph: string;
}

const { title, paragraph} = Astro.props;
---
<div class="paragraph_container">
    <h1>{ title }</h1>
    <p>{ paragraph }</p>
</div>

<style>
    .paragraph__container {
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }

    h1 {
        margin: 2vh 0;
    }
</style>
