<table
  class="container container-fluid table table-responsive table-bordered borderless">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="fw-bold fs-5">Hybrid</th>
      <th scope="col" class="fw-bold fs-5">Virtual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="fw-bold fs-5">Pemakalah & Seminar*</th>
      <td class="text-center fs-5">Rp400,000</td>
      <td class="text-center fs-5">Rp350,000</td>
    </tr>
    <tr>
      <th scope="row" class="fw-bold fs-5">Seminar*</th>
      <td class="text-center fs-5">Rp250,000</td>
      <td class="text-center fs-5">Rp150,000</td>
    </tr>
    <tr>
      <th scope="row" class="fw-bold fs-5">Tambahan Makalah*</th>
      <td class="text-center fs-5">Rp250,000</td>
      <td class="text-center fs-5">Rp150,000</td>
    </tr>
  </tbody>
  <caption class="fs-5">*) Harga di atas merupakan biaya per pemakalah/per peserta</caption>
</table>
