<h2 class="page__title">Sponsor</h2>
<div class="mediapartner__container">
  <div class="sponsor__brand">
    <img
      src="../sponsors/klinik-aku.png"
      alt=""
      class="sponsor__logo large"
      loading="lazy"
    />
    <img
      src="../sponsors/angkasapura.jpg"
      alt=""
      class="sponsor__logo large"
      loading="lazy"
    />
  </div>
</div>
<!-- <h2 class="page__title">Sponsor</h2>
<div class="mediapartner__container">
  <div class="sponsor__brand">
    <img
      src="../sponsors/klinik-aku.png"
      alt=""
      class="sponsor__logo medium"
      loading="lazy"
    />
    <img
      src="../sponsors/klinik-aku.png"
      alt=""
      class="sponsor__logo medium"
      loading="lazy"
    />
  </div>
</div>
<h2 class="page__title">Sponsor</h2>
<div class="mediapartner__container">
  <div class="sponsor__brand">
    <img
      src="../sponsors/klinik-aku.png"
      alt=""
      class="sponsor__logo small"
      loading="lazy"
    />
    <img
      src="../sponsors/klinik-aku.png"
      alt=""
      class="sponsor__logo small"
      loading="lazy"
    />
  </div>
</div> -->

<section>
  <h2 class="page__title">Media Partner</h2>
  <div class="mediapartner__container">
    <div class="mediapartner__brand">
      <img
        src="../mediapartner/eventcenter.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/eventcampus.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/eventdetect.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/eventkampus.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/eventnyamahasiswa.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/ikutevent.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/infolombaekonomi.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/madingevent.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/olimpiadeupdate.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
      <img
        src="../mediapartner/pointkampus.png"
        alt=""
        class="mediapartner__logo"
        loading="lazy"
      />
    </div>
  </div>
</section>
