---
export interface props {
    subtitle: string;
    contact: string;
    href: string
    name: string
}

const {subtitle, contact, href, name} = Astro.props
---
<div>
  <p class="fs-5 m-0 fw-bold ">{subtitle}</p>
  <p class="fs-5 m-0"><a href={href} target="_blank" class="text-decoration-none">{contact}</a>{name}</p>
</div>
