---
import MitraJurnalTemplate from "./MitraJurnalTemplate.astro";
---

<br />
<h2 class="page__subtitle">SINTA 2</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="Trilogi Accounting and Business Research"
    indexMJ="Google Scholar"
    href="https://www.instagram.com"
    src="../mitrajurnal/tabr2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Trilogi Accounting and Business Research"
    indexMJ="Google Scholar"
    href="https://www.instagram.com"
    src="../mitrajurnal/tabr2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Trilogi Accounting and Business Research"
    indexMJ="Google Scholar"
    href="https://www.instagram.com"
    src="../mitrajurnal/tabr2.png"
  />
</div>
<h2 class="page__subtitle">SINTA 3</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="Trilogi Accounting and Business Research"
    indexMJ="Google Scholar"
    href="https://www.instagram.com"
    src="../mitrajurnal/tabr2.png"
  />
</div>
