---
import MitraJurnalTemplate from "./MitraJurnalTemplate.astro";
---

<br />
<h2 class="page__subtitle">SINTA 2</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="Jurnal Tata Kelola dan Akuntabilitas Keuangan Negara"
    indexMJ="Sinta 2"
    href="http://www.jurnal.bpk.go.id/index.php/TAKEN"
    src="../mitrajurnal/jtaken2.png"
  />
  <MitraJurnalTemplate
    namaMJ="The Indonesian Accounting Review"
    indexMJ="Sinta 2"
    href="https://journal.perbanas.ac.id/index.php/tiar"
    src="../mitrajurnal/tiar2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Journal of Accounting and Strategic Finance"
    indexMJ="Sinta 2"
    href="http://jasf.upnjatim.ac.id/index.php/jasf"
    src="../mitrajurnal/jasf2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Akuntansi Auditing Indonesia"
    indexMJ="Sinta 2"
    href="https://journal.uii.ac.id/JAAI"
    src="../mitrajurnal/jaai2.png"
  />
</div>
<h2 class="page__subtitle">SINTA 3</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="Jurnal Akuntansi: Kajian Ilmiah Akuntansi"
    indexMJ="Sinta 3"
    href="https://e-jurnal.lppmunsera.org/index.php/Akuntansi/issue/view/333"
    src="../mitrajurnal/jak2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Akuntansi - Universitas Bengkulu"
    indexMJ="Sinta 3"
    href="https://ejournal.unib.ac.id/index.php/JurnalAkuntansi/index"
    src="../mitrajurnal/ja-bengkulu2.png"
  />
</div>
<h2 class="page__subtitle">SINTA 4</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="Soedirman Accounting Review: Journal of Accounting and Business"
    indexMJ="Sinta 4"
    href="http://jos.unsoed.ac.id/index.php/sar/.com"
    src="../mitrajurnal/sar2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Ilmiah Akuntansi Fakultas Ekonomi"
    indexMJ="Sinta 4"
    href="https://journal.unpak.ac.id/index.php/jiafe"
    src="../mitrajurnal/jiafe2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Accounting Research Journal of Sutaatmadja"
    indexMJ="Sinta 4"
    href="https://ojs.stiesa.ac.id/index.php/accruals/about"
    src="../mitrajurnal/accruals2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Riset Bisnis"
    indexMJ="Sinta 4"
    href="http://journal.univpancasila.ac.id/index.php/jrb/index.com"
    src="../mitrajurnal/jrb2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Riset Akuntansi Politeknik Negeri Tanah Laut"
    indexMJ="Sinta 4"
    href="https://jra.politala.ac.id/index.php/JRA"
    src="../mitrajurnal/jra2.png"
  />
  <MitraJurnalTemplate
    namaMJ="KEUNIS"
    indexMJ="Sinta 4"
    href="https://jurnal.polines.ac.id/index.php/keunis/index"
    src="../mitrajurnal/keunis2.png"
  />
  <MitraJurnalTemplate
    namaMJ="The International Journal of Applied Business"
    indexMJ="Sinta 4"
    href="https://e-journal.unair.ac.id/TIJAB"
    src="../mitrajurnal/tijab2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Akuntansi Bisnis dan Manajemen"
    indexMJ="Sinta 4"
    href="http://journal.stie-mce.ac.id/index.php/jabm"
    src="../mitrajurnal/abm2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Wahana Riset Akuntansi"
    indexMJ="Sinta 4"
    href="http://ejournal.unp.ac.id/index.php/wra/index"
    src="../mitrajurnal/wra2.png"
  />
  <MitraJurnalTemplate
    namaMJ="El Muhasaba: Jurnal Akuntansi"
    indexMJ="Sinta 4"
    href="https://ejournal.uin-malang.ac.id/index.php/el-muhasaba"
    src="../mitrajurnal/elmuhasaba2.png"
  />
</div>
<h2 class="page__subtitle">SINTA 5</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="ACCOUNT Jurnal Akuntansi, Keuangan, dan Perbankan"
    indexMJ="Google Scholar"
    href="https://jurnal.pnj.ac.id/index.php/acc"
    src="../mitrajurnal/account2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Aktual Akuntansi Keuangan Bisnis Terapan"
    indexMJ="Google Scholar"
    href="https://jurnal.polines.ac.id/index.php/akunbisnis/about/contact"
    src="../mitrajurnal/akunbisnis2.png"
  />
</div>
<h2 class="page__subtitle">GOOGLE SCHOLAR</h2>
<div class="mitrajurnal__container">
  <MitraJurnalTemplate
    namaMJ="Trilogi Accounting and Business Research"
    indexMJ="Google Scholar"
    href="https://trilogi.ac.id/journal/ks/index.php/TABR"
    src="../mitrajurnal/tabr2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Jurnal Ilmiah Akuntansi Pancasila"
    indexMJ="Google Scholar"
    href="https://journal.univpancasila.ac.id/index.php/JIAP/index"
    src="../mitrajurnal/jiap2.png"
  />
  <MitraJurnalTemplate
    namaMJ="RELEVAN : Jurnal Riset Akuntansi"
    indexMJ="Google Scholar"
    href="https://journal.univpancasila.ac.id/index.php/RELEVAN"
    src="../mitrajurnal/relevan2.png"
  />
  <MitraJurnalTemplate
    namaMJ="INQUISITIVE"
    indexMJ="Google Scholar"
    href="https://journal.univpancasila.ac.id/index.php/INQUISITIVE/index"
    src="../mitrajurnal/inquisitive2.png"
  />
  <MitraJurnalTemplate
    namaMJ="BALANCE: Jurnal Akuntansi, Auditing dan Keuangan"
    indexMJ="Google Scholar"
    href="https://ejournal.atmajaya.ac.id/index.php/BALANCE"
    src="../mitrajurnal/balance2.png"
  />
  <MitraJurnalTemplate
    namaMJ="Applied Accounting and Management Review"
    indexMJ="Google Scholar"
    href="https://jurnal.polines.ac.id/index.php/AAMAR/index"
    src="../mitrajurnal/aamar2.png"
  />
</div>
