---
export interface Props {
  namaNS: string;
  jabatanNS: string;
  href: string;
  src: string;
}

const { namaNS, jabatanNS, href, src } = Astro.props;
---

<div class="day">
  <img class="speaker__img" src={src} alt="">
  <p class="page__text links-smr">
    <a href={href} target="_blank">{namaNS}</a>
  </p>
  <p class="page__text">{jabatanNS}</p>
</div>
