---
import SeminarDataNS from "./SeminarDataNS.astro";
---

<section>
  <h2 class="page__title">Seminar (7 SKP)</h2>
</section>
<div class="seminar">
  <h2 class="page__subtitle">Narasumber</h2>
  <div class="event__speaker">
    <SeminarDataNS />

    <div class="day">
      <p class="page__text links-smr">*) Dalam Konfirmasi</p>
    </div>
  </div>
</div>

<section>
  <div class="date">
    <h2 class="page__subtitle">Tanggal Penting</h2>
    <div class="event__date">
      <div class="day">
        <p class="page__text"><b><i>Panel Session 1</i></b></p>
        <p class="page__text">Rabu, 01 Februari 2023</p>
        <p class="page__text">08.00 - 12.00 WIB</p>
      </div>
      <div class="day">
        <p class="page__text"><b><i>Panel Session 2</i></b></p>
        <p class="page__text">Kamis, 02 Februari 2023</p>
        <p class="page__text">13.00 - 17.00 WIB</p>
      </div>
    </div>
  </div>

  <section>
    <div class="price">
      <h2 class="page__subtitle">Biaya Investasi</h2>
      <div class="event__price">
        <div class="day">
          <p class="page__text"><b><i>Hybrid</i> (Daring dan Luring)</b></p>
          <p class="page__text">Rp250,000</p>
        </div>
        <div class="day">
          <p class="page__text"><b><i>Full</i> Daring</b></p>
          <p class="page__text">Rp150,000</p>
        </div>
      </div>
    </div>

    <section>
      <div class="paper__links">
        <h2 class="page__subtitle"><i>Pendaftaran</i></h2>
        <div class="paper__links__container">
          <a
            class="links"
            href="https://bit.ly/4thNCAFA_Registration"
            target="_blank"
            rel="noopener"
          >
            <p class="page__text">Klik di sini</p>
          </a>
        </div>
      </div>
    </section>

    <section>
      <h2 class="page__subtitle">Hubungi Kami</h2>
      <div class="contactperson">
        <div class="cp 1">
          <h3 class="page__text">WhatsApp</h3>
          <p class="page__text">
            <a href="https://wa.me/6281288425931" target="_blank"
              >0812 8842 5931</a
            > (Zakiah)
          </p>
        </div>
        <div class="cp 1">
          <h3 class="page__text">Email</h3>
          <p class="page__text">
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa@gmail.com"
              target="_blank">fourthncafa@gmail.com</a
            >
          </p>
        </div>
      </div>
    </section>
  </section>
</section>
