---
export interface props {
  src: string;
  alt: string;
  href: string;
}

const { src, alt, href } = Astro.props;
---

<a class="col-3 col-md-3 col-lg-2 p-2 m-1 bg-image hover-zoom" href={href} target="_blank">
  <img class="img-fluid "src={src} alt={alt} />
</a>
