---
export interface props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="col-3 col-md-3 col-lg-2 p-2 m-1 bg-image hover-zoom">
  <img class="img-fluid "src={src} alt={alt} />
</div>
