<section class="container-fluid container-xl pt-3 pb-3 bg-ncafa2 rounded-4">
    <div class="d-flex flex-wrap justify-content-center row row-cols-5 row-cols-auto gap-2">
        <slot />
    </div>
</section>