---
export interface Props {
    title: string
}

const {title} = Astro.props
---
<section class="container-fluid container-md pt-3 pb-3 bg-ncafa2 rounded-4">
    <h1 class="text-center fs-6 text-uppercase fw-bold">{title}</h1>
    <div class="d-flex flex-wrap justify-content-center row row-cols-5 row-cols-auto gap-2">
        <slot />
    </div>
</section>