---
export interface Props {
  src: string;
  name: string;
  href: string;
}

const { src, name, href } = Astro.props;
---

<div class="col mt-3 mb-3">
  <div class="row row-cols-2 justify-content-center bg-image hover-zoom">
    <img class="img-fluid" src={src} alt="" />
  </div>
  <div class="row justify-content-center text-center ms-2 me-2 fs-6">
    <a href={href} class="text-decoration-underline text-black" target="_blank">{name}</a>
  </div>
</div>
